* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #eaeded;
}

h1 {
  padding: 20px;
  margin: 0;
  background: #131921;
  color: white;
}

/* PRODUCT GRID */
#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* PRODUCT CARD */
.product {
  background: white;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.product img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  display: block;
  margin-bottom: 10px;
}


.product h3 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.price {
  font-weight: bold;
  color: #b12704;
}

/* BUTTON */
.btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #ffd814;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #f7ca00;
}
